h1,
h2,
h3,
p {
  font-family: Lucida Sans Typewriter;
}



h1{
  color: lightblue;
  text-align: center;
  font-size:20px;
  text-transform: uppercase;
}

h2{
  font-size: 30px;
}

p{
  font-size: 22px;
  line-height: 1.5;
}

#copyright{
  font-size: 13px;
}

.intro-bubble{
  font-weight: bold;
}

body{
    background-color: lightblue;
    padding: 20px 40px;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}



